.ht*
.env*
.phpunit*
.phpunit.result.cache
dist/
slack_messages.md
/*.json
/large_data/
logs/
models/
responder/data/bookmarks
responder/data/bookmarks*.html
responder/data/talis*
*.log
.~*
responder/data/dialogues/research_*

#Allow
!/composer.json
